---
# Sets up deployment registry credentials as a Kubernetes secret

- name: Delete existing registry secret
  command: kubectl delete secret awscred -n {{ stackbill_namespace }}
  ignore_errors: yes
  changed_when: false

- name: Create deployment registry secret
  command: >
    kubectl create secret docker-registry awscred
    --docker-server="{{ ecr_registry }}"
    --docker-username=AWS
    --docker-password="{{ ecr_token }}"
    -n {{ stackbill_namespace }}
  no_log: true

- name: Deployment registry credentials created
  debug:
    msg: "Deployment registry secret 'awscred' created"
